/* Ejemplo de estilos para el ticket */
.container {

    width: 370px;
    
    background-color: rgb(219, 219, 219);
    
    margin: auto;

}
#ticket {
    width: 370px;
    border: 1px solid #9b9b9b;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
   
    
    margin-bottom: 10px;
}

#equipajeTickets {
    width: 370px;
    border: 1px solid #9b9b9b;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
   
    
    margin-bottom: 10px;
}

